@{ ViewData["Title"] = "Shopping Cart"; }

<div id="root"></div>

@section Scripts
{
    <script type="text/javascript">
        var userMail = '@ViewBag.User.Email';
        var userType = '@ViewBag.User.UserType';
    </script>
    
    <!-- TODO: replace SET_YOUR_CLIENT_KEY_HERE with your client key -->
    <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-T1xbycAQCeBlGdRj"></script>    
    <!-- Note: replace with src="https://app.midtrans.com/snap/snap.js" for Production environment -->
    <script src="~/js/app/plugin.modal.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/app/react.address.components.js" asp-append-version="true" type="text/babel"></script>
    <script src="~/js/app/page.react.cart.js" asp-append-version="true" type="text/babel"></script>
} 