@{ ViewData["Title"] = "Pending Cart Detail"; }

<div id="root">

</div>

@section Scripts
{
    <script type="text/javascript">
        var userMail = '@ViewBag.User.Email';
        var userType = '@ViewBag.User.UserType';
        var cartMail = '@ViewBag.CartEmail';
    </script>
    <script src="~/js/app/plugin.modal.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/app/page.react.pending.cart-detail.js" asp-append-version="true" type="text/babel"></script>
} 