@{
    ViewData["Title"] = "Notification";
}
@{
    <div class="alert alert-info m-3">
        Your account is currently inactive.
        Please contact the admin to activate your user account.
    </div>

    <hr class="divider" size="10">

    <section class="p-2">
        <a href="https://wa.me/628179313535" class="box p-2 bg-primary m-1">
            <div class="icontext">
                <span class="icon">
                    <i class="text-white fa-brands fa-whatsapp"></i>
                </span>
                <span class="text">
                    <h6 class="mb-0 text-white">Support chat</h6>
                    <small class="text-white-50">Chat us: 0817 931 3535</small>
                </span>
            </div>
        </a>
    </section>
}
