@{
    ViewData["Title"] = "Home";
}

<section id="categoryPicker" class="p-2 pb-0">
    <ul class="row">        
        <li class="col-12 mb-2 fw-bold px-2 text-primary">
            <i class="fa fa-crown me-2"></i>Produk Terlaris
        </li>
        <li class="col-4 product-item product-item-sm">
            <div class="custom-card">
                <a href="#" class="item-category-grid skeleton-loader">
                </a>
                <div class="custom-card-text card-text-title small">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-subtitle small fw-bold">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-attribute small">
                    <span class="skeleton-loader"></span>
                </div>
            </div>
        </li>
        <li class="col-4 product-item product-item-sm">
            <div class="custom-card">
                <a href="#" class="item-category-grid skeleton-loader">
                </a>
                <div class="custom-card-text card-text-title small">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-subtitle small fw-bold">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-attribute small">
                    <span class="skeleton-loader"></span>
                </div>
            </div>
        </li>
        <li class="col-4 product-item product-item-sm">
            <div class="custom-card">
                <a href="#" class="item-category-grid skeleton-loader">
                </a>
                <div class="custom-card-text card-text-title small">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-subtitle small fw-bold">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-attribute small">
                    <span class="skeleton-loader"></span>
                </div>
            </div>
        </li>
        <li class="col-4 product-item product-item-sm">
            <div class="custom-card">
                <a href="#" class="item-category-grid skeleton-loader">
                </a>
                <div class="custom-card-text card-text-title small">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-subtitle small fw-bold">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-attribute small">
                    <span class="skeleton-loader"></span>
                </div>
            </div>
        </li>
        <li class="col-4 product-item product-item-sm">
            <div class="custom-card">
                <a href="#" class="item-category-grid skeleton-loader">
                </a>
                <div class="custom-card-text card-text-title small">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-subtitle small fw-bold">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-attribute small">
                    <span class="skeleton-loader"></span>
                </div>
            </div>
        </li>
        <li class="col-4 product-item product-item-sm">
            <div class="custom-card">
                <a href="#" class="item-category-grid skeleton-loader">
                </a>
                <div class="custom-card-text card-text-title small">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-subtitle small fw-bold">
                    <span class="skeleton-loader"></span>
                </div>
                <div class="custom-card-text card-text-attribute small">
                    <span class="skeleton-loader"></span>
                </div>
            </div>
        </li>
    </ul>
</section>

<p class="text-center mx-2">
    <a href="~/Category" class="btn w-100 btn-light">
        <i class="material-icons md-arrow_forward"></i>
        Lihat Semua
    </a>
</p>

<section class="px-2">
    <article class="card card-banner" style="min-height:160px; background-image: url('../images/banners/banner1.jpg');">
        <div class="card-body caption">
            <h5 class="card-title mb-3"> Masih bayak <br>kategori lainnya </h5>
            <a href="~/StockViewer" class="btn btn-sm btn-warning">Lihat Stock</a>
        </div>
    </article>
</section>

<br />

<hr class="divider" size="10">

<section class="p-2">
    <a href="https://wa.me/628179313535" class="box bg-primary m-1">
        <div class="icontext">
            <span class="icon">
                <i class="text-white fa-brands fa-whatsapp"></i>
            </span>
            <span class="text">
                <h6 class="mb-0 text-white">Support chat</h6>
                <small class="text-white-50">Chat us: 0817 931 3535</small>
            </span>
        </div>
    </a>
</section>

<br>

@section Scripts
    {
    <script src="~/js/app/react.core.components.js" asp-append-version="true" type="text/babel"></script>
    <script src="~/js/app/home.react.js" asp-append-version="true" type="text/babel"></script>
} 