@{
    ViewData["Title"] = "Home";
}

@*<section class="px-3 pt-1">
    <input type="text" placeholder="Search" class="form-control bg-light">
</section>*@

<section class="p-3">
    <ul class="row">
        <li class="col-4">
            <a href="~/StockViewer?categoryId=1" class="item-category-grid">
                <span class="icon-wrap">
                    <i class="icon material-icons md-stay_primary_portrait"></i>                    
                </span>
                <small class="text"> Clear View Case</small>
            </a>
        </li>
        <li class="col-4">
            <a href="~/StockViewer?categoryId=4" class="item-category-grid">
                <span class="icon-wrap">
                    <i class="icon material-icons md-stay_primary_portrait"></i>
                </span>
                <small class="text"> GKK Case</small>
            </a>
        </li>
        <li class="col-4">
            <a href="~/StockViewer?categoryId=35" class="item-category-grid">
                <span class="icon-wrap">
                    <i class="icon material-icons md-stay_primary_portrait"></i>
                </span>
                <small class="text"> Silicon Case</small>
            </a>
        </li>
        <li class="col-4">
            <a href="~/StockViewer?categoryId=32" class="item-category-grid">
                <span class="icon-wrap">
                    <i class="icon material-icons md-stay_primary_portrait"></i>
                </span>
                <small class="text"> Rainbow Case</small>
            </a>
        </li>
        <li class="col-4">
            <a href="~/StockViewer?categoryId=3" class="item-category-grid">
                <span class="icon-wrap">
                    <i class="icon material-icons md-stay_primary_portrait"></i>
                </span>
                <small class="text"> Glass Case</small>
            </a>
        </li>
        <li class="col-4">
            <a href="~/StockViewer?categoryId=5" class="item-category-grid">
                <span class="icon-wrap">
                    <i class="icon material-icons md-stay_primary_portrait"></i>
                </span>
                <small class="text"> Leather Case</small>
            </a>
        </li>
    </ul>
</section>

<section class="px-3">
    <article class="card card-banner" style="min-height:160px; background-image: url('../images/banners/banner1.jpg');">
        <div class="card-body caption">
            <h5 class="card-title mb-3"> Masih bayak <br>kategori lainnya </h5>
            <a href="~/StockViewer" class="btn btn-sm btn-warning">Lihat Stock</a>
        </div>
    </article>
</section>

<!--<section>
    <h5 class="title-section">Recommended</h5>
    <div class="p-3 pb-0 scroll-horizontal">
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="#" class="product">
                <div class="img-wrap"> <img src="images/items/1.jpg"> </div>
                <div class="text-wrap">
                    <div class="price">Rp 50.000</div>--> <!-- price .// -->
                    <!--<p class="title">Custom Case - IPhone</p>
                </div>
            </a>
        </div>
    </div>
</section>-->

@*<hr class="divider" size="10">*@

@*<section class="p-3">

        <a href="#" class="box bg-primary m-1">
            <div class="icontext">
                <span class="icon"><img src="images/avatars/1.jpg" class="avatar-sm"></span>
                <span class="text">
                    <h6 class="mb-0 text-white">Support chat</h6>
                    <small class="text-white-50">Landline: +123456789</small>
                </span>
            </div>
        </a>

        <div class="d-flex">
            <a href="#" class="m-1 btn w-100 btn-sm btn-light"> Help </a>
            <a href="#" class="m-1 btn w-100 btn-sm btn-light"> Payment </a>
            <a href="#" class="m-1 btn w-100 btn-sm btn-light"> About </a>
        </div>

    </section>*@

@*<p class="text-center mx-3">
        <a href="index.html" class="btn w-100 btn-light">
            <i class="material-icons md-arrow_back"></i>
            All pages
        </a>
    </p>*@

<br>