@{
    ViewData["Title"] = "Home";
}

@*<section class="px-3 pt-1">
    <input type="text" placeholder="Search" class="form-control bg-light">
</section>*@

<section id="categoryPicker" class="p-3">
    <div>
        <p class="text-center mt-3 text-primary">
            <span class="spinner-grow spinner-grow-sm" role="status"></span>
            <span class="spinner-grow spinner-grow-sm" role="status"></span>
            <span class="spinner-grow spinner-grow-sm" role="status"></span>
        </p>
    </div>
</section>

<p class="text-center mx-3">
    <a href="~/Category" class="btn w-100 btn-light">
        <i class="material-icons md-arrow_forward"></i>
        Lihat Semua
    </a>
</p>

<section class="px-3">
    <article class="card card-banner" style="min-height:160px; background-image: url('../images/banners/banner1.jpg');">
        <div class="card-body caption">
            <h5 class="card-title mb-3"> Masih bayak <br>kategori lainnya </h5>
            <a href="~/StockViewer" class="btn btn-sm btn-warning">Lihat Stock</a>
        </div>
    </article>
</section>

<br />

<hr class="divider" size="10">

<section class="p-3">
    <a href="https://wa.me/628179313535" class="box bg-primary m-1">
        <div class="icontext">
            <span class="icon">
                <i class="text-white fa-brands fa-whatsapp"></i>
            </span>
            <span class="text">
                <h6 class="mb-0 text-white">Support chat</h6>
                <small class="text-white-50">Landline: 0817 931 3535</small>
            </span>
        </div>
    </a>
</section>

<br>

@section Scripts
{
    <script src="~/js/app/react.core.components.js" asp-append-version="true" type="text/babel"></script>
    <script src="~/js/app/home.react.js" asp-append-version="true" type="text/babel"></script>
} 