@{ ViewData["Title"] = "Address"; }

<h5 class="title-section">Address</h5>

<div id="root" class="mt-3"></div>

@section Scripts
{
    <script type="text/javascript">
        var userMail = '@ViewBag.User.Email';
    </script>
    <script src="~/js/app/plugin.modal.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/app/react.address.components.js" asp-append-version="true" type="text/babel"></script>
    <script src="~/js/app/page.react.address.js" asp-append-version="true" type="text/babel"></script>
} 