.skeleton-loader {
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ), #ededed;
    background-repeat: repeat-y !important;
    background-size: 50px 500px !important;
    background-position: 0 0;
    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position: 150% 0, 0 0;
    }
}

.modal-dialog-bottom {
    margin: 0.5rem;
    pointer-events: none;
    display: block;
    position: absolute;
    /*bottom: 67px;*/
    left: 0;
    right: 0;
}

.modal-dialog-long {
    margin-bottom: 100px;
}

.input-Qty {
    width: 40px;
    text-align: right;
    padding: 0px 5px;
}

.btn-Qty-Min {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.btn-Qty-Plus {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.progressbar-element {
    position: absolute;
    cursor: progress;
    z-index: 999;
    background-color: rgba(255,255,255,.85);
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0)
    }

    50% {
        opacity: 1
    }
}

.payment-proceed {
    position: fixed;
    bottom: 75px;
    left: 0;
    right: 0;
    box-shadow: #00000057 0px 0px 3px 1px;
    border-radius: 5px;
    background: white;
}

.select2-selection {
    padding: 0.64rem 0.75rem;
    height: 40px !important;
}

.select2-selection__rendered {
    line-height: 28px !important;
    padding: 0px !important;
    margin-top: -5px;
}

span.select2-selection__arrow {
    margin-top: 8px;
}

.color-code {
    width: 20px;
    height: 20px;
    float: left;
    border-radius: 10px;
}

.modal-dialog {
     margin-bottom: 80px; 
}

.modal-dialog.modal-fullscreen {
    margin-bottom: 0px;
}

.icon {
    font-size: 22px !important;
}

.modal {
    overflow-y: auto;
}

.custom-card-text {
    line-height: 1;
    margin: 0px;
    padding: 0px 10px;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.product-item-sm .custom-card-text {
    padding: 0px 7px;
}

.custom-card {
    box-shadow: 0px 0px 10px 2px #c7c6c63b;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border: 1px solid #80808036;
}

.product-item-sm .custom-card {
    padding-bottom: 5px;
}

.custom-card-text.card-text-title.small {
    height: 26px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.custom-card-text.card-text-subtitle.small.fw-bold {
    margin-top: 7px;
}

.custom-card-text.card-text-attribute.small {
    font-size: 10px;
    margin-top: 7px;
}

li.col-4.product-item {
    margin-bottom: 10px;
}

.item-category-grid {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.form-step div.step {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #519120;
    margin: 0px 20px;
    border-radius: 25px;
    padding: 13px;
    background: #ffffff;
    color: #519120;
    position: relative;
}

    .form-step div.step.active {
        background: #519120;
        color: white;
    }

    .form-step div.step i {
        margin-bottom: 12px;
    }

    .form-step div.step div {
        color: #519120;
        margin-left: -18px;
        width: 60px;
        text-align: center;
        margin-top: 7px;
        font-size: 14px;
        line-height: 17px;
    }

    .form-step div.step:not(:last-child)::before {
        content: '';
        width: 40px;
        height: 1px;
        background: #519120;
        display: inline-block;
        position: absolute;
        left: 49px;
        top: 25px;
    }

#orderModal .modal-fullscreen-sm-down .modal-footer {
    position: fixed;
    bottom: 55px;
    width: 100%;
    background: #ffffff;
    padding: 10px;
}

.form-control:read-only {
    background: none;
}

.form-control:disabled {
    background-color: #e9ecef;
}

#main-content {
    touch-action: pan-y;
}

.catalog-search-box {
    top: 55px;
    border-bottom: 1px solid #ddd;
    box-shadow: #0000001f 0px 4px 8px;
}

/*
body > .select2-container--open {
    width: 100% !important;
    left: 0px !important;
    top: unset !important;
    bottom: 58px;
    height: 400px;
}

.select2-dropdown {
    width: 100% !important;
    padding-top: 15px;
    border-top: 1px solid #aaa !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    /* border-bottom-left-radius: 20px !important; */
    /* border-bottom-right-radius: 20px !important; */
    height: 400px;
    margin: 0px auto !important;
    position: relative !important;
    bottom: 0px;
}

.select2-search.select2-search--dropdown {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: none;
    color: inherit;
    font-weight: bolder;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 280px !important;
}

    .select2-container--default .select2-results > .select2-results__options li {
        padding-left: 10px;
        padding-right: 10px;
    }

.select2-dropdown::before {
    content: 'Search';
    padding: 0px 15px;
    display: inline-block;
    font-weight: bold;
}

.input-group .select2-container--default .select2-selection--single {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select2-dropdown-overlay {
    background: #0000007d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
*/

.input-group .btn {
    z-index: unset;
}