@{ ViewData["Title"] = "My Order"; }

<div id="root">

</div>

@section Scripts
{
    <script type="text/javascript">
        var userMail = '@ViewBag.User.Email';
        var userType = '@ViewBag.User.UserType';
        var orderId = '@ViewBag.OrderId';
    </script>

    <!-- TODO: replace SET_YOUR_CLIENT_KEY_HERE with your client key -->
    <script type="text/javascript" src="https://app.midtrans.com/snap/snap.js" data-client-key="Mid-client-roAp4In1LszWM6QB"></script>
    <script src="~/js/app/plugin.modal.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/app/page.order-detail.js" asp-append-version="true" type="text/babel"></script>
} 