@{ ViewData["Title"] = "My Order"; }

<div id="root">

</div>

@section Scripts
{
    <script type="text/javascript">
        var userMail = '@ViewBag.User.Email';
    </script>
    <script src="~/js/app/plugin.modal.js" asp-append-version="true" type="text/javascript"></script>
    <script src="~/js/app/page.order.js" asp-append-version="true" type="text/babel"></script>
} 