@{ 
    ViewData["Title"] = "Category";
}

<section class="px-3 pt-0 pb-2 fixed-top bg-white" style="top: 55px;">
    <input type="text" placeholder="Search" class="bg-secondary-light border-0 form-control">
</section>

<section>
    <ul class="px-3 list-menu pt-0" style="margin-top: 60px;" id="productList">
    </ul>
</section>

<p class="text-center mx-3" id="spinner">
    <span class="spinner-grow spinner-grow-sm" role="status"></span>
    <span class="spinner-grow spinner-grow-sm" role="status"></span>
    <span class="spinner-grow spinner-grow-sm" role="status"></span>
</p>

<br>

@section Scripts
{
    <script src="~/js/app/page.catalog.js" type="text/javascript"></script>
} 