@{ 
    ViewData["Title"] = "Category";
}

<div id="root">

</div>

@section Scripts
{
    <script src="~/js/app/react.core.components.js" asp-append-version="true" type="text/babel"></script>
    <script src="~/js/app/page.react.category.js" asp-append-version="true" type="text/babel"></script>
} 